body {
  height: 100vh;
  user-select: none;
  margin: 0;
  background-color: #f9d4d4;
}

.title {
  font-size: 30px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 70vmin;
  width: 70vmin;
  border: 5px solid #5c2e2e;
}

.grid-square {
  border: 1px solid #cccccc;
  background-color: white;
  -webkit-user-drag: none;
  user-select: none;
  transition: background-color 0.2s;
}

.grid-square.active {
  background-color: #1e1e1e;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 150px;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  color: #4b0082;
}
