body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 80vmin;
  width: 80vmin;
}

.grid-square {
  border: 1px solid black;
  background-color: white;
  -webkit-user-drag: none;
  user-select: none;
}

.grid-square.active {
  background-color: black;
}

.grid-btn {
  width: 200px;
  margin: auto;
  padding: 10px;
}
